@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
}

body {
    background-color: #f1ffef;
    /* margin: 0 auto;
    width: 780px; */
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    /*  font-weight: 100;*/
}

.slider {
    /* background-color: #999;
    border: 1px solid; */
    padding : 10px;
    margin: 10px;
    text-align: center;
    width: 40px;
    height: 140px;
}

.knob {
    /* background-color: #999;
    border: 1px solid; */
    padding : 10px;
    margin: 10px;
    text-align: center;
    width: 80px;
    height: 140px;
}

.section_div {
    border: 1px solid;
    /* height: 100%; */
    overflow: hidden;
    padding: 10px;
    background-color: #062800;
    color: #eee;
}

.section_header {
    font-weight: 800;
    font-size: x-large;
}

.knob_header {
    /* background-color: #999;
    border: 1px solid; */
    /* padding : 10px;
    margin: 10px;
    text-align: center;
    width: 80px; */
    height: 30px;
}

.knob_val {
    /* background-color: #999;
    border: 1px solid; */
    /* padding : 10px;
    margin: 10px;
    text-align: center;
    width: 80px; */
    padding-top: 5px;
}